.inputWrapper {
  position: relative;
  background: #1c1f2b;

  z-index: 0;
}

.input {
  position: relative;
  width: 256px;
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid transparent;
  background: linear-gradient(rgba(28, 31, 43, 1), rgba(28, 31, 43, 1))
      padding-box,
    var(--input-gradient);

  background-color: #1c1f2b;

  outline: none;
  color: white;
  z-index: 1;
}

.input::placeholder {
  background: var(--input-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.inputWrapper::before,
.inputWrapper::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--input-gradient);
  border-radius: 8px;
  z-index: -1;
}

.input:focus {
  border: 1px solid transparent;
  border-radius: 8px;
}

.input:focus::placeholder,
.input:not(:placeholder-shown)::placeholder {
  color: transparent;
  opacity: 0;
}

.inputWrapper.focused::before {
  filter: blur(5px);
}

.orange {
  --input-gradient: linear-gradient(90deg, #fcd453, #ed654a);
  --fc: #fcd453;
  --ed: #ed654a;
}
