.sidebar,
.closedSidebar {
  position: absolute;
  padding-top: 78px;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border: 2px solid transparent;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
      padding-box,
    linear-gradient(90deg, #e81a7e, #370ec4) border-box;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 1px 0 20px 0 #370ec4;
  transition: all 0.5s ease;
}

.closedSidebar {
  width: 82px;
}
