.sidebar,
.closedSidebar {
  position: absolute;
  padding-top: 78px;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 0px 8px 8px 0px;
  transition: all 0.5s ease;
}

.purple {
  box-shadow: 1px 0 20px 0 #370ec4;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
      padding-box,
    linear-gradient(90deg, #e81a7e, #370ec4) border-box;
}

.orange {
  box-shadow: 1px 0 20px 0 #ed654a;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
      padding-box,
    linear-gradient(90deg, #fcd453, #ed654a) border-box;
}

.green {
  box-shadow: 1px 0 20px 0 #e9ce5a;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
      padding-box,
    linear-gradient(90deg, #31c300, #e9ce5a) border-box;
}

.red {
  box-shadow: 1px 0 20px 0 #c93ae8;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
      padding-box,
    linear-gradient(90deg, #ee4029, #c93ae8) border-box;
}

.closedSidebar {
  width: 82px;
}
