.logo {
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: all 1s;
  overflow: hidden;
}

.text {
  font-family: 'Inter', sans-serif;
  line-height: 120%;
  font-size: 26px;
  background: var(--logo-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transform: translateX(0);
  transition: transform 1.5s;
}

.purple {
  --logo-gradient: linear-gradient(90deg, #e81a7e, #370ec4);
}

.orange {
  --logo-gradient: linear-gradient(90deg, #fcd453, #ed654a);
}

.green {
  --logo-gradient: linear-gradient(90deg, #31c300, #e9ce5a);
}

.red {
  --logo-gradient: linear-gradient(90deg, #ee4029, #c93ae8);
}

.blue {
  --logo-gradient: linear-gradient(90deg, #6a80f3, #35da89);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-300px);
}
