.logo {
  text-align: center;
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  background: linear-gradient(90deg, #e81a7e, #370ec4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
