.logo {
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: all 1s;
  overflow: hidden;
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  background: linear-gradient(90deg, #e81a7e, #370ec4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transform: translateX(0);
  transition: transform 1.5s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-300px);
}
