.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  /* border: 2px solid transparent; */
  border-radius: 8px;
  transition: all 0.5s ease;
  box-shadow: 1px 11px 72px 1px #fcd453;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
    padding-box;
  /* linear-gradient(90deg, #fcd453, #ed654a) border-box; */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

@keyframes top {
  0% {
    width: 50px;
  }
  50%,
  100% {
    left: 200px;
  }
}

@keyframes right {
  0% {
    height: 2px;
  }
  50%,
  100% {
    top: 200px;
  }
}

@keyframes bottom {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes left {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.topLine {
  position: absolute;
  top: -5px;
  left: 0;
  width: 2px;
  height: 2px;
  /* background: linear-gradient(90deg, #fcd453, #ed654a); */
  box-shadow: 1px 0 20px 10px #ed654a;
  animation: top 3s 3.5s infinite;
}

.rightLine {
  position: absolute;
  top: -15px;
  right: -5px;
  width: 2px;
  height: 15px;

  /* background: linear-gradient(90deg, #fcd453, #ed654a); */
  box-shadow: 1px 0 20px 10px #ed654a;
  animation: right 3s 1s infinite;
}

.bottomLine {
  position: absolute;
  bottom: -5px;
  right: -50px;
  width: 50px;
  height: 2px;
  /* background: linear-gradient(90deg, #fcd453, #ed654a); */
  box-shadow: 1px 0 20px 10px #ed654a;
  animation: bottom 3s 2s infinite;
}

.leftLine {
  position: absolute;
  bottom: -15px;
  left: -5px;
  width: 2px;
  height: 15px;
  /* background: linear-gradient(90deg, #fcd453, #ed654a); */
  box-shadow: 1px 0 20px 10px #ed654a;
  animation: left 3s 3s infinite;
}

.icon {
  width: 18px;
  height: 18px;
  fill: #fcd453;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 120%;
  color: white;
}

.btn:hover {
  background: linear-gradient(rgba(237, 101, 74, 0.9), rgba(0, 0, 0, 0.9));
  transition: all 3s;
}
