.nav {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 145px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav__item {
  display: flex;
}
