.btn,
.closedBtn {
  position: fixed;
  bottom: 0;
  width: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--linear-gradient);

  border-radius: 0px 0px 8px 0px;
  cursor: pointer;
  overflow: hidden;
  border: none;

  outline: none;
  transition: all 0.5s ease;
}

.purple {
  --linear-gradient: linear-gradient(90deg, #e81a7e, #370ec4);
  border-top: 2px solid #370ec4;
  --color_anim: #ff49b6;
  --shadow_color: #e81a7e;
  --shadow_color_insert: #370ec4;
}

.orange {
  --linear-gradient: linear-gradient(90deg, #fcd453, #ed654a);
  border-top: 2px solid #ed654a;
  --color_anim: #e74325;
  --shadow_color: #fcd453;
  --shadow_color_insert: #ed654a;
}

.green {
  --linear-gradient: linear-gradient(90deg, #31c300, #e9ce5a);
  border-top: 2px solid #e9ce5a;
  --color_anim: #eec40a;
  --shadow_color: #e9ce5a;
  --shadow_color_insert: #e9ce5a;
}

.closedBtn {
  width: 78px;
}

span {
  position: relative;
}

.btn .liquid,
.closedBtn .liquid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: var(--linear-gradient);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 8px 0px;
  z-index: -1;
  transition: 0.6s;
}

.btn .liquid::after,
.btn .liquid::before,
.closedBtn .liquid::after,
.closedBtn .liquid::before {
  position: absolute;
  content: '';
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  transform: translate(-25%, -75%);
  border-radius: 0px 0px 8px 0px;
}

.btn .liquid::after,
.closedBtn .liquid::after {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  box-shadow: 0 0 10px 5px var(--shadow_color),
    inset 0 0 5px var(--shadow_color_insert);
  animation: animate 5s linear infinite;
  opacity: 0.8;
}

.btn .liquid::before,
.closedBtn .liquid::before {
  border-radius: 40%;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
    inset 0 0 5px rgba(26, 26, 26, 0.5);
  animation: animate 7s linear infinite;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.closedBtn path.two {
  transition: 0.4s;
  transform: translateX(-30%);
}

.closedBtn path.one {
  transition: 0.5s;
  transform: translateX(-60%);
}

.closedBtn path.three {
  transition: 0.4s;
  transform: translateX(0%);
}

@media (hover: hover) {
  .btn .liquid:hover,
  .closedBtn .liquid:hover {
    top: -120px;
  }

  .btn:hover path.three,
  .closedBtn:hover path.three {
    animation: color_anim 1s infinite 0.2s;
  }

  .btn:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .closedBtn:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .btn:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  .closedBtn:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
}

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: var(--color_anim);
  }
  100% {
    fill: white;
  }
}

@keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}
