.link {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.icon {
  width: 26px;
  height: 30px;
  margin-right: 15px;
  fill: white;
  transition: all 0.5s ease;
}

.hiddenLinks {
  margin-left: 23px;
  margin-right: 0;
  width: 35px;
  height: 35px;
  transition: all 0.5s ease;
}

.text {
  position: absolute;
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  transition: opacity, visibility, transform 1.5s;
}

.hiddenText {
  position: absolute;
  transform: translateX(-300px);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

@media (hover: hover) {
  .link:hover .text {
    background: linear-gradient(90deg, #e81a7e, #370ec4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .link:hover .icon {
    fill: #e81a7e;
    stroke: #e81a7e;
  }
}
