.link {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  fill: white;
}

@media (hover: hover) {
  .link:hover {
    background: linear-gradient(90deg, #e81a7e, #370ec4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .link:hover .icon {
    fill: #e81a7e;
    stroke: #e81a7e;
  }
}
