.content {
  position: relative;
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  height: 300px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 8px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.content::after,
.content::before {
  content: '';
  position: absolute;
  padding: 3px;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from var(--angle),
    transparent,
    transparent,
    #fcd453,
    transparent,
    transparent,
    transparent,
    #ed654a,
    transparent
  );
  border-radius: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  animation: spin 3s linear infinite;
}

.content::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }

  25% {
    --angle: 90deg;
  }

  75% {
    --angle: 270deg;
  }

  100% {
    --angle: 360deg;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.legend {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: white;
}

.radioGroup {
  align-self: flex-start;
}
